<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" (click)="return()" style="margin-left: 14px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >
  <ion-card >
    <ion-img src="{{item.imageUrl}}"></ion-img>
    <ion-card-header>
      <ion-card-title style="text-align: center;">{{item.name}}</ion-card-title>
      <ion-card-subtitle style="font-size: 18px; text-align: center;">${{item.price.toFixed(2)}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{item.description}}
      <ion-item>
        <ion-label><b>Observación:</b></ion-label>
        <ion-input  type="text" [(ngModel)]="shoppingItem.observation"></ion-input>
      </ion-item>
      <ion-button shape="round" color="primary" expand="full" (click)="agregar()" style="margin-top: 26px;" >Agregar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
