

<ion-content>
  <ion-list>
    <ion-img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/fast-food-logo-design-template-5e3d4fd2fb94e028469b27c3fc842c92_screen.jpg?ts=1570593625"></ion-img>
      <ion-item>
          <ion-thumbnail slot="end">
           <ion-icon name="chevron-forward-outline" style="margin-top: 20px; margin-left: 28px;" (click)="navigateToEntradas()"></ion-icon>
          </ion-thumbnail>
          <ion-label>
              <h3 style="font-size: 16px;">Entradas</h3>
              </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="end">
          <ion-icon name="chevron-forward-outline" style="margin-top: 20px; margin-left: 28px;" (click)='navigateToPostres()'></ion-icon>
        </ion-thumbnail>
        <ion-label>
            <h3 style="font-size: 16px;" >Postres</h3>
            </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="end">
        <ion-icon name="chevron-forward-outline" style="margin-top: 20px; margin-left: 28px;" (click)="navigateToPLatosFuertes()"></ion-icon>
      </ion-thumbnail>
      <ion-label>
          <h3 style="font-size: 16px;">Platos Fuertes</h3>
          </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="end">
      <ion-icon name="chevron-forward-outline" style="margin-top: 20px; margin-left: 28px;" (click)='navigateToBebidas()'></ion-icon>
    </ion-thumbnail>
    <ion-label>
        <h3 style="font-size: 16px;">Bebidas</h3>
        </ion-label>
</ion-item>
  </ion-list>
</ion-content>
